html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 4rem;
  background-color: white;
}

header .content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
}

header nav ul {
  display: flex;
}

nav li {
  padding-left: 1rem;
}


header .logo {
  flex-grow: 1;
  color: black;
  font-size: 1.5rem;
  /*font-family: 'Roboto Mono', monospace;*/
}

header span {
  color: gray;
}

header .logoimg {
  height: 2rem
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 760px) {

  header .desktop {
    display: none;
  }


  header .mobile {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 1rem 1.5rem;
  }

}

.center {
  text-align: center;
}

.main-content {
  position: relative;
  top: 4rem;
  /* To offset for fixed header. */
}

.desktop .learnnew-section {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0 2rem 1.5rem;
  background-color: #f3f3f3;
}

.learnnew1 img {
  width: 100%;
  height: auto;
}

.learnnew1 {
  width: 60%;
}

.learnnew2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*padding: 2rem 2rem 1rem;*/

  margin-left: 1.5rem;
  /*background-color: white;*/
  width: 40%;
}

.learnnew-section h1 {
  font-size: 3.125rem;
  font-weight: bolder;
  margin-bottom: 1.875rem;
}

.learnnew-section h2 {
  font-size: 2.25rem;
  font-weight: 400;
  margin-bottom: 1.875rem;
}


.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18.75rem;
  height: 3.25rem;
  border-radius: 4px;
  background-color: #4a4a4a;
  color: white;
  font-size: 2.25rem;
  /*padding: 1.25rem;*/
}

.mobile .learnnew-section {
  display: none;
}


@media only screen and (max-width: 760px) {

  .desktop .learnnew-section {
    display: none;
  }


  .mobile .learnnew-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem 1.5rem;
    /*
      justify-content:space-evenly;
      padding: 1rem 1.5rem;
      */
  }

  .mobile .learnnew-section img {
    /*width:600px;*/
    width: 100%;
  }

}


.desktop .keeppractcng-section {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0 2rem 1.5rem;
  background-color: white;
}



.practc1 {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
}

.practc1 h1 {
  font-size: 3.125rem;
  font-weight: bolder;
  margin-top: 2rem;
  /*margin-bottom: 1.875rem;*/
}

.practc1 h2 {
  color: #4a4a4a;
  font-size: 1.75rem;
  margin: 1.5rem 0;
}

.practc1 h3 {
  color: #4a4a4a;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.practc1 img {
  width: 100%;
  height: auto;
}

.desktop .practc2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 40%;
  padding-left: 1.5rem;
  /*padding: 0rem 1.5rem;*/
}

.desktop .practc21 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 0rem;
  width: 100%;
  /*width: auto;*/
}

.desktop .practc211 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 35%;
}

.desktop .practc2 img {
  width: 100%;
  height: auto;
}

.desktop .practc212 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 65%;
  padding-left: 1.5rem;
}

.desktop .practc2 h1 {
  color: #4a4a4a;
  font-size: 1.75rem;
  font-weight: bold;
  margin-top: 2rem;
}

.desktop .practc2 h2 {
  color: #4a4a4a;
  font-size: 1rem;
  font-weight: normal;
  margin-top: 1rem;
}

.desktop .practc2 p {
  color: #4120bc;
  font-family: Roboto;
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 1rem;
}

.desktop .practc22 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0 0 0rem;
  width: 100%;
}

.desktop .practc221 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 35%;
}


.desktop .practc222 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 65%;
  padding-left: 1.5rem;
}



.desktop .practc23 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0 1.5rem 0rem;
  background-color: #f3f3f3;
  width: 100%;
}

.desktop .practc231 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 35%;
}

.desktop .practc232 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 65%;
  padding-left: 1.5rem;
}

.mobile .keeppractcng-section {
  display: none;
}


@media only screen and (max-width: 760px) {

  .desktop .keeppractcng-section {
    display: none;
  }


  .mobile .keeppractcng-section {
    display: block;
    padding: 1rem 1.5rem;
    /*
     justify-content:space-evenly;
     padding: 1rem 1.5rem;
     */
  }

  .mobile .practc2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    /*padding: 2rem 2rem 2rem 1.5rem;
      padding: 0rem 1.5rem;*/
  }


  .mobile .practc21 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 0rem;
    width: 100%;
    /*width: auto;*/
  }



  .mobile .keeppractcng-section img {
    width: 100%;
  }

  .mobile .practc2 h1 {
    color: #4a4a4a;
    font-size: 1.75rem;
    font-weight: bold;
    margin-top: 2rem;
  }

  .mobile .practc2 h2 {
    color: #4a4a4a;
    font-size: 1rem;
    font-weight: normal;
    margin-top: 1rem;
  }

  .mobile .practc2 p {
    color: #4120bc;
    font-family: Roboto;
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 1rem;
  }

  .mobile .practc22 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1.5rem 0 0 0rem;
    width: 100%;
  }

  .mobile .practc23 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1.5rem 0 1.5rem 0rem;
    background-color: #f3f3f3;
    width: 100%;
  }

}



.startlearn-section {
  display: block;
  width: 100%;
}

.heading {
  justify-content: center;
  display: flex;
  padding: 2rem;
}


.heading h1 {
  font-size: 3.125rem;
  font-weight: bolder;
}

.startlearn-section h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2rem;
}

.startlearnrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0rem 4.5rem;
}

.course {
  width: 30%;
  background-color: #fff;
  margin-right: 2rem;
  margin-bottom: 1.5rem;
}


.course img {
  display: flex;
  width: 100%;
}

.course h2 {
  padding-left: 1rem;
  color: #484848;
  font-weight: 600;
  margin-top: 1rem;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.course span {
  font-weight: lighter;
  padding-left: 1rem;
  margin-top: 0.5rem;
  font-size: 1.4rem;
  color: black;
}

.course p {
  font-weight: lighter;
  padding-left: 1rem;
  width: 70%;
  color: black;
  margin-top: 0.5rem;
  padding-bottom: 1.5rem;
  font-size: 1.1rem;
}

.mobile .startlearn-section {
  display: none;
}

@media only screen and (max-width: 760px) {

  .desktop .startlearn-section {
    display: none;
  }
  
  .mobile .startlearn-section {
    display: block;
    width: 100%;
  }

  .mobile .startlearncolumn {
    display: flex;
    flex-direction: column;    
    align-items: flex-start;
    justify-content: center;
    
    padding: 0rem 4.5rem;
  }

  .startlearncolumn .lh2 {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    color: #484848;
    background-color: #f3f3f3;
    font-weight: 600;
    margin-top: 1rem;
    font-size: 2rem;
    margin-bottom: 1rem;
    height: 4rem;
    width: 100%;
      
  }

}


.desktop .thesis-section {
  display: block;
  width: 100%;
}


.thesis-info {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0 2rem 1.5rem;
  background-color: white;
}

.thesis1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
}

.thesis1 video {
  width: 100%;
}

.thesis-info h2 {
  margin-top: 1.4rem;
  font-size: 2.5rem;
  font-weight: 600;
  color: #484848;
  margin-bottom: 1.5rem;
}

.thesis1 p {
  color: #A8A8A8;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.thesis2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 40%;
  padding-left: 1.5rem;
}




.thesis21 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 0rem;
  width: 100%;
  /*width: auto;*/
}

.thesis211 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 35%;
}

.thesis2 img {
  width: 100%;
  height: auto;
}

.thesis212 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 65%;
  padding-left: 1.5rem;
}

.thesis2 h1 {
  color: #4a4a4a;
  font-size: 1.75rem;
  font-weight: bold;
  margin-top: 2rem;
}

.thesis2 h2 {
  color: #4a4a4a;
  font-size: 1rem;
  font-weight: normal;
  margin-top: 1rem;
}

.thesis2 p {
  color: #4120bc;
  font-family: Roboto;
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 1rem;
}


.thesis22 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0 1.5rem 0rem;
  background-color: #f3f3f3;
  width: 100%;
}

.thesis221 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 35%;
}

.thesis222 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 65%;
  padding-left: 1.5rem;
}



.mobile .thesis-section {
  display: none;
}

@media only screen and (max-width: 760px) {

  .desktop .thesis-section {
    display: none;
  }
  
  .mobile .thesis-section {
    display: block;   
    padding: 1rem 1.5rem;
    /*width: 100%;*/
  }

  .mobile .thesis-section video {
    width: 100%;
    object-fit: fill;    
  }
}




footer .content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
}

footer nav ul {
  display: flex;
}

footer p {
  flex-grow: 1;
}

@media only screen and (max-width: 760px) {

  footer .desktop {
    display: none;
  }
}
