html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
  }

  header {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 4rem;  
    background-color: white;
  }

  header .content {
    display: flex;
    align-items: center;
    justify-content: center;    
    padding: 1rem 1.5rem;
  }

  header nav ul {
    display: flex;
  }

  nav li {
    padding-left: 1rem;
  }

  
  header .logo {
    flex-grow: 1;
    color:black;
    font-size: 1.5rem;
    /*font-family: 'Roboto Mono', monospace;*/
  }
  header span{
    color:gray;
  }

  header .logoimg{    
    height:2rem
  }
  
  .center {
    text-align: center;
  }

  .main-content {
    position: relative;
    top: 4rem; /* To offset for fixed header. */
  }

  .learnnew-section {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0 2rem 1.5rem;
    background-color: #f3f3f3;
  }

  .learnnew1 img
  {
    width:100%;
    height: auto;   
  }

  .learnnew1{
    /*flex: 1;
    padding: 2rem 2rem 1rem;    
    margin: 0px 1.1875rem;
    
    background-color: white;
    */
    width:60%;
  }

  .learnnew2{
    /*flex: 1;
    */
    display: flex;      
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    /*padding: 2rem 2rem 1rem;*/
    
    margin-left: 1.5rem;
    /*background-color: white;*/
    width:40%;
  }

  .learnnew2 h1 {
    font-size: 3.125rem;
    font-weight: bolder;
    margin-bottom: 1.875rem;
  }
  
  .learnnew2 h2 {
    font-size: 2.25rem;
    font-weight: 400;
    margin-bottom: 1.875rem;
  }

  
  .button {
    display: flex;      
    justify-content: center; 
    align-items: center;    
    width: 18.75rem;
    height: 3.25rem;
    border-radius: 4px;
    background-color: #4a4a4a;
    color: white;
    font-size: 2.25rem;
    /*padding: 1.25rem;*/    
  }

  .keeppractcng-section {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0 2rem 1.5rem;
    background-color: white;
  }

  

  .practc1{
       
    display: flex;      
    flex-direction: column;  
    justify-content:flex-start;
    align-items:flex-start;
    width:60%;
  }

  .practc1 h1 {
    font-size: 3.125rem;
    font-weight: bolder;
    margin-top: 2rem;
    /*margin-bottom: 1.875rem;*/
  }

  .practc1 h2{
    color: #4a4a4a;
    font-size: 1.75rem;
    margin: 1.5rem 0;
  }

  .practc1 h3{
    color: #4a4a4a;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .practc1 img
  {
    width:100%;
    height: auto;   
  }

  .practc2{
    display: flex;      
    flex-direction: column;  
    justify-content:flex-start;
    align-items:flex-start;
    width:40%;
    padding-left: 1.5rem;
    /*padding: 0rem 1.5rem;*/
  }

  .practc21{
    display: flex;      
    flex-direction: row;  
    justify-content:center;
    align-items:center;
    padding-left: 1.5rem;
    width: auto;  
  }

  .practc211{
    display: flex;      
    flex-direction: row;  
    justify-content:center;
    align-items:center; 
    width: 35%; 
  }
  .practc211 img
  {
    width:100%;
    height: auto;   
  }

  .practc212{
    display: flex;      
    flex-direction: column;  
    justify-content:center;
    align-items:flex-start;
    width: 65%;
    padding-left:1.5rem; 
   }

   .practc212 h1 {
    color: #4a4a4a;
    font-size: 1.75rem;
    font-weight: bold;
    margin-top: 2rem;  
  }

  .practc212 h2 {
    color: #4a4a4a;
    font-size: 1rem;
    font-weight:normal;
    margin-top: 1rem;    
  }

  .practc212 p {
    color: #4120bc;
    font-family: Roboto;
    font-size: 1.25rem;
    font-weight:400;
    margin-top: 1rem;
  }

  .practc22{
    display: flex;      
    flex-direction: row;  
    justify-content:center;
    align-items:center;
    padding: 1.5rem 0 0 1.5rem;
    width: auto;
  }

  .practc221{
    display: flex;      
    flex-direction: row;  
    justify-content:center;
    align-items:center; 
    width: 35%; 
  }
  .practc221 img
  {
    width:100%;
    height: auto;   
  }

  .practc222{
    display: flex;      
    flex-direction: column;  
    justify-content:center;
    align-items:flex-start;
    width: 65%;
    padding-left: 1.5rem; 
   }

   .practc222 h1 {
    color: #4a4a4a;
    font-size: 1.75rem;
    font-weight: bold;
    margin-top: 2rem;  
  }

  .practc222 h2 {
    color: #4a4a4a;
    font-size: 1rem;
    font-weight:normal;
    margin-top: 1rem;    
  }
  
  .practc222 p {
    color: #4120bc;
    font-family: Roboto;
    font-size: 1.25rem;
    font-weight:400;
    margin-top: 1rem;
  }

  .practc23{
    display: flex;      
    flex-direction: row;  
    justify-content:center;
    align-items:center;
    padding: 1.5rem 0 1.5rem 0rem;
    background-color: #f3f3f3;   
    width: 100%;     
  }

  .practc231{
    display: flex;      
    flex-direction: row;  
    justify-content:center;
    align-items:center; 
    width: 35%; 
  }
  .practc231 img
  {
    width:100%;
    height: auto;   
  }

  .practc232{
    display: flex;      
    flex-direction: column;  
    justify-content:center;
    align-items:flex-start;
    width: 65%;
    padding-left: 1.5rem; 
   }

   .practc232 h1 {
    color: #4a4a4a;
    font-size: 1.75rem;
    font-weight: bold;
    margin-top: 2rem;  
  }

  .practc232 h2 {
    color: #4a4a4a;
    font-size: 1rem;
    font-weight:normal;
    margin-top: 1rem;    
  }
  
  .practc232 p {
    color: #4120bc;
    font-family: Roboto;
    font-size: 1.25rem;
    font-weight:400;
    margin-top: 1rem;
  }

  .startlearn-section{
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0 2rem 1.5rem;
    background-color: #f3f3f3;
  }

  .startlearn-section h1 {
    font-size: 3.125rem;
    font-weight: bolder;
    margin-top: 2rem;
    /*margin-bottom: 1.875rem;*/
  }

  startlearncol1{

  }

  startlearncol2{

  }

  startlearncol3{

  }