html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
  }

  header {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 4rem;
    border-bottom: solid 1px #c6c1c1;
    background-color: white;
  }

  header .content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.875rem;
  }

  header nav ul {
    display: flex;
  }

  nav li {
    padding-left: 1rem;
  }

  header .logo {
    flex: 1;
    color:#4a4a4a;
    font-size: 1.5rem;
    font-family: 'Roboto Mono', monospace;
  }
  